/* Reset sederhana */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Warna latar untuk memvisualisasikan blok */
header,
.header {
  background: aquamarine;
  color: white;
  padding: 15px;
  text-align: center;
}

nav,
.nav {
  margin-top: 10px;
  background: aqua;
  padding: 10px;
}

nav a,
.nav a {
  color: blanchedalmond;
  text-decoration: none;
  /* hapus garis bawah */
  border-radius: 22px;
  /* ubah sudut jadi bulat */
  background: indianred;
  padding: 6px 14px;
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */
  /* padding-left: 14px; */
  /* padding-right: 14px; */
  margin-right: 8px;
  /* jarak luar antar link */
}

main,

.section {
  display: flex;
  gap: 20px;
  background: aquamarine;
  border-left: 5px solid #1d4ed8;
  padding: 20px 30px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.section card li {
  display: flex;
  gap: 20px;
  background: aquamarine;
  border-left: 5px solid #1d4ed8;
  padding: 20px 30px;
  border-radius: 6px;
  margin-bottom: 20px;
}

/* Section / Artikel utama */
section,
.section {
  flex: 2;
  background: whitesmoke;
  padding: 15px;
  border-radius: 6px;
}

/* Article khusus */
article,
.article {
  background: #bbdefb;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

/* Sidebar / aside */
aside,
.aside {
  flex: 1;
  background: #ffe082;
  padding: 15px;
  border-radius: 6px;
}

h2 {
  border-left: 5px solid white;
  padding-left: 10px;
  color: #333;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  /* supaya garis rapet */
  background: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}


th,
td {
  border: 1px solid #444;
  /* garis tabel */
  padding: 10px;
  text-align: center;
}

th {
  background: white;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

tr:nth-child(even) {
  background: #f9f9f9;
  /* selang-seling abu2 */
}

/* Footer */
footer,
.footer {
  background: aquamarine;
  color: blueviolet;
  padding: 15px;
  text-align: center;
}