.galery h2 {
    color: black;

}

.galery p {
    text-align: center;
    font-size: 16px;
}

.galery.card {
    display: block;
    width: 200px;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.galery .card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.galery .card figcaption {
    background-color: rgb(202, 18, 73);
    color: white;
    padding: 4px;
    font-size: 12px;
    margin-top: -8px;
}